
body{
	font-weight: 700;
	font-family: monospace;
	background-color: rgb(8, 1, 1);
	color: white;
}
#tip a{
	text-decoration: none;
}

#tip{
	border: 1px solid black;
	width: 600px;
	height: 400px;
	margin-left: 300px;
	padding-left: 30px;
	padding-top: 50px;
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
	background-color: rgb(81, 112, 112) ;


}

#tip input#password{
	width: 200px;
	height: 25px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 13px;
	margin-left: 185px;
}
#tip input#name{
 	width: 200px;
	height: 25px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 13px;
	margin-left: 170px;
}

#tip input#email{
 	width: 200px;
	height: 25px;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 13px;
	margin-left: 160px;
}

#tip input#password{
	width: 200px;
 height: 25px;
 border-radius: 5px;
 padding-left: 15px;
 font-size: 13px;
 margin-left: 160px;
}

h1{
	margin-left: 530px;
	margin-top: 50px;
	font-size: 40px;
}

button{
	width: 120px;
	height: 40px;
	margin-left: 170px;
	margin-top: 20px;
	border:none;
	background-color: rgb(112, 55, 55);
	color: white;
	outline: none;
}